/* Your application styles go here */
body {
    font-family: "Source Sans Pro";
}
.blue {
    color: #003E5C;
}
.red {
    color: #D51E26;
}
.marges {
    margin-left: 1.5em;
    margin-right: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro";
    color: #D51E26;
}
