/* Your application styles go here */
body {
    font-family: "Source Sans Pro";
}
.blue {
    color: #003E5C;
}
.red {
    color: #D51E26;
}
.marges {
    margin-left: 1.5em;
    margin-right: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro";
    color: #D51E26;
}
.pp {
    overflow: hidden;
    border: 3px solid #003E5C;
    margin: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.pp.big {
	height: 10em;
    width: 10em;
    border-radius: 5em;
}
.pp.small {
	height: 4em;
    width: 4em;
    border-radius: 2em;
    margin: 0.2em;
}

.block {
    display: inline-block;
}
.absolute {
    position: absolute;
}
.cplus {
    position: absolute;
    top: 3.75em;
    font-size: 2em;
    color: #003E5C;
}
