/* Your application styles go here */
body {
    font-family: "Source Sans Pro";
}
.blue {
    color: #003E5C;
}
.red {
    color: #D51E26;
}
.marges {
    margin-left: 1.5em;
    margin-right: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro";
    color: #D51E26;
}
.pp {
    overflow: hidden;
    border: 3px solid #003E5C;
    margin: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.pp.big {
	height: 10em;
    width: 10em;
    border-radius: 5em;
}
.pp.small {
	height: 4em;
    width: 4em;
    border-radius: 2em;
    margin: 0.2em;
}

.block {
    display: inline-block;
}
.absolute {
    position: absolute;
}
.cplus {
    position: absolute;
    top: 3.75em;
    font-size: 2em;
    color: #003E5C;
}
.bande-titre {
    background-color: #ECE8DC;
    font-size: 2em;
    height: 1.5em;
    padding: 0.25em;
}
.ellipsis {
    text-overflow: ellipsis;
}
li.item.fond {
    background: linear-gradient(180deg, #e3e4e5, white 10px);
}
.sbackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../images/background.jpg');
}
.fb-button {
    position: absolute;
    bottom: 20%;
    left: 6%;
    right: 6%;
}
.pp.small .load {
    background-color: rgba(255, 255, 255, 0.5);
    height: 4em;
    width: 4em;
    margin-left: -0.2em;
    padding-top: 0.2em;
}
.pp.small .loader svg {
  height: 3em;
  width: 3em;
  /*stroke: #444;
  fill: #444;*/
}
.bar-header.double {
    height: 110px !important;
}
h1.double {
    height: 110px !important;
}
.double-header {
    top: 110px !important;
}
.item .pp {
    float: right;
    margin: 0;
    height: 4em;
    width: 4em;
    border-radius: 2em;
}
.item.small {
    padding-top: 6px;
    padding-bottom: 6px;
}
.font-medium {
    font-size: 1.5em;
}

.dcircle {
    -webkit-transition-property: top, left, opacity;
    -webkit-transition-duration: 0.8s;
}
.circle {
	border-radius: 50%;
    -webkit-transition-property: height, width, opacity;
    -webkit-transition-duration: 1s;
}
.dcircle.ng-leave, #trecherche.ng-leave {
    -webkit-animation: depart 1s linear;
}
#trecherche.ng-enter {
    -webkit-animation: arrivee 1s linear;
}
.lcircle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border: 5px solid #003E5C;
}
.tourner {
    -webkit-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    height: 200px;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-webkit-keyframes depart { 100% { opacity: 0; } }
@keyframes depart { 100% { opacity: 0; } }

@-webkit-keyframes arrivee { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes arrivee { 0% { opacity: 0; } 100% { opacity: 1; } }

#trecherche {
    position: absolute;
    bottom: 60px;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
