<?xml version='1.0' encoding='utf-8'?>
<widget id="JourNuit.JourNuit" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jour&amp;Nuit</name>
    <description>
        Application de soirées collaboratives et de rencontres entre étudiants.
    </description>
    <author email="basilebruneau@gmail.com" href="http://cordova.io">
        Basile Bruneau
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
