<ion-pane>
    <ion-content scroll="false">
        <h1 class="jour-nuit text-center">
            <span class="blue">Jour<span class="red">&amp;</span>Nuit</span>
        </h1>
        Vous n'êtes pas encore inscrit. Pour pouvoir utiliser <span class="blue">Jour<span class="red">&amp;</span>Nuit</span>, indiquez votre adresse email .edu.
        <label class="item item-input">
            <span class="input-label">Adresse email .edu</span>
            <input type="email">
        </label>
        <button class="button button-block button-positive">
            Inscription
        </button>
    </ion-content>
</ion-pane>
