<ion-pane on-swipe-right="goToMenu()">
    <ion-header-bar class="bar bar-header bar-light double" style="background-color: #ECE8DC;">
        <h1 class="title double">
            <span style="font-size: 3em;">
                <span class="blue">Jour<span class="red">&amp;</span>Nuit</span>
            </span>
            <br />
            <span style="font-size: 1.5em; position: relative; top: -10px;" class="blue">
                Matchs (3)
            </span>
        </h1>
    </ion-header-bar>
    <ion-content scroll="false" class="double-header">
        <ion-scroll zooming="false" direction="y">
            <ul class="list">
                <li class="item small ellispis fond">
                    <div class="pp small" style="background-image: url('http://images.mystockphoto.com/files/previews/cf3/beautiful-lady-beautiful-lady-black-and-white-eyes-face-girl-lady-profile-stare-151460.jpg')"></div>
                    <span class="font-medium">Juliette</span>
                    </li>
                <li class="item small ellispis fond">
                    <div class="pp small" style="background-image: url('https://s-media-cache-ak0.pinimg.com/originals/39/26/e6/3926e6d34a2cbba84d8ed54716ac5ece.jpg')"></div>
                    <span class="font-medium">Clémentine</span>
                    </li>
                <li class="item small ellispis fond">
                    <div class="pp small" style="background-image: url('http://fc03.deviantart.net/fs30/f/2008/181/b/c/beautiful_face_by_yerapaaa.jpg')"></div>
                    <span class="font-medium">Léa</span>
                    </li>
            </ul>
        </ion-scroll>
    </ion-content>
</ion-pane>
