<ion-pane on-swipe-right="goToMenu()">
    <ion-header-bar class="bar bar-header bar-light double" style="background-color: #ECE8DC;">
        <h1 class="title double">
            <span style="font-size: 3em;">
                <span class="blue">Jour<span class="red">&amp;</span>Nuit</span>
            </span>
            <br />
            <span style="font-size: 1.5em; position: relative; top: -10px;" class="blue">
                Matchs (3)
            </span>
        </h1>
    </ion-header-bar>
    <ion-content scroll="false" class="double-header">
        <ion-scroll zooming="false" direction="y">
            <ul class="list">
                <li class="item ellispis fond">
                    Juliette
                </li>
                <li class="item ellispis fond">
                    Clémentine
                </li>
                <li class="item ellispis fond">
                    Léa
                </li>
            </ul>
        </ion-scroll>
    </ion-content>
</ion-pane>
