<ion-pane on-swipe-right="goToProfile()" on-swipe-left="goToMatchs()">
    <ion-content scroll="false">
        <div class="text-center">
            <h1 class="title" style="font-size: 3em; margin-top: 2em;">
                <span class="blue">Jour<span class="red">&amp;</span>Nuit</span>
            </h1>

            <br /><br />

            <a ui-sref="arbre-soirees({})">
                <img src="images/menu-events.jpg" style="width: 50%" />
            </a>
            <br />
            <a>
                <img src="images/menu-schools.jpg" style="width: 50%" />
            </a>
        </div>
    </ion-content>
</ion-pane>
