<div class="modal">
    <ion-header-bar>
        <h1 class="title">Photo de profil</h1>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <a class="item" ui-sref="ppedit.facebook({})" ng-click="closeModal()">Importer depuis Facebook</a>
            <a class="item">Prendre une photo</a>
            <a class="item">Choisir dans la bibliothèque</a>
        </ul>

        <button class="button button-full button-energized" ng-click="closeModal()">Valider</button>
    </ion-content>
</div>
