<ion-pane on-swipe-left="goToMenu()" scroll="false">
    <ion-header-bar class="bar bar-header bar-light" style="background-color: #ECE8DC;">
        <h1 class="title" style="font-size: 3em;">
            <span class="blue">Jour<span class="red">&amp;</span>Nuit</span>
        </h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="text-center">
            <div class="pp big block" style="background-image: url('{{ ppimage }}')">
                <div class="absolute">
                    <a ng-click="openModal()" class="cplus">
                        <span class="icon ion-plus-circled"></span>
                    </a>
                </div>
            </div>
            <div class="pp big block" style="background-image: url('http://enseignementsup.blog.lemonde.fr/files/2013/12/logo-X.jpg')">
            </div>
        </div>
        <div class="text-center">
            <h1>{{ user.name }}</h1>
            <h2>{{ age(user.birthday) }} ans</h2>
        </div>
        <div class="text-center bande-titre">
            <span class="red">Soirées</span>
            <span class="blue">auxquelles je participe</span>
        </div>
        <ion-scroll zooming="false" direction="y">
            <ul class="list">
                <li class="item ellispis fond" ng-repeat="event in events">
                    {{ event.name }}
                </li>
            </ul>
        </ion-scroll>
    </ion-content>
</ion-pane>
